/* Tooltip color personalized */
.custom-tooltip-info {
    --bd-info-bg: #0dcaf0;
    --bs-white: #ffffff;
    --bs-tooltip-bg: var(--bd-info-bg);
    --bs-tooltip-color: var(--bs-white);
    opacity: 0;
}

.custom-tooltip-edit {
    --bd-edit-bg: #0d6efd;
    --bs-white: #ffffff;
    --bs-tooltip-bg: var(--bd-edit-bg);
    --bs-tooltip-color: var(--bs-white);
    opacity: 0;
}

.custom-tooltip-delete {
    --bd-delete-bg: #dc3545;
    --bs-white: #ffffff;
    --bs-tooltip-bg: var(--bd-delete-bg);
    --bs-tooltip-color: var(--bs-white);
    opacity: 0;
}

.custom-tooltip-dark {
    --bd-dark-bg: #212529;
    --bs-white: #ffffff;
    --bs-tooltip-bg: var(--bd-dark-bg);
    --bs-tooltip-color: var(--bs-white);
    opacity: 0;
}
/* END Tooltip color personalized */

.breadcrumb-item a {
    text-decoration:none;
}

/* .accordion-button {
    background-color: #031633;
} */

.title-create-edit {
    padding: 1em;
}
.padding-top-2em {
    padding-top: 2em;
}

.icone {
    align-items: normal;
}

.required {
    color: #dc3545;
    font-weight: bold;
}


/* Servico */
.img-servico {
    width: 100px;
}

.img-icon {
    width: 50px;
}
/* FIM - Servico */

.titulo-1rem {
    padding: 1rem;
}

.icon-success {
    font-size: 25px;
    color: #198754;
}

.icon-error {
    font-size: 25px;
    color: #dc3545;
}